// Specific CSS for your home-page
body {
  // background: linear-gradient(45deg, #1819d4, #0a73cc);
  // min-height: 100vh;
  // background-color: #22283F;

}

a:hover {
  text-decoration: none;
}

h1 {
  color: black;
}
