<div>
  <h2>Mon panier</h2>
  <%  @orders.each do |order| %>
    <%= Account.find_by(id: order.supplier).name %>
    <% order.items.each do |item| %>
      <%= item.product.name %>
      <%= item.amount_cents %>
      <%= item.quantity %>
    <% end %>
  <% end %>
</div>
