<form action="">
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <button id="button-addon2" type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
      </div>
      <input type="search" placeholder="De quel produit avez-vous besoin ?" aria-describedby="button-addon2" class="form-control border-0 bg-light">
    </div>
  </div>
</form>
