<h1>Pages#welcome</h1>

<p><%= current_user.first_name %>, votre compte a bien été créé </p>

<%= link_to "Créer une organisation", new_account_path, class: "btn-gradient" %>
<%= link_to "Rejoindre une organisation", new_restaurant_path, class: "btn-gradient" %>
