.cart {
  width: 20%;
  padding-top: 12px;
  margin-bottom: 24px;
  margin-left: 2%;
  text-align: right;
  font-weight: bold;

  ul {
    position: fixed;
    text-align: left;
    background-color: white;
    list-style-type: none;

  }
}

