.navbar-lewagon {
  justify-content: flex-end;
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.user_navabar {
  display: flex;
  color: black;
  // position: fixed;
  // bottom: 7%;
}

.user_navbar_mobile {
  display: none;
}

.user-info {
  margin-left: 4%;

  #info-user{
    padding: 0px;
    font-size: 10px;
  }


  li a {
    padding: 0px;
  }

  #user-information{
    padding: 0px;
  }
}

#logout{
  position: fixed;
  right: 0px;
  margin-top: 7px;
  background: white;
  border: solid 1px grey;
}

.custom-popover li {
  border: none!important;
  text-align: center;
}

.custom-popover li:nth-child(2) {
  border-top: 1px solid #ccc!important;
}

.custom-popover li:last-child {
  border-top: 1px solid #ccc!important;
}

#sidebarCollapse{
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}


#burger-menu .fas{
// border: solid 1px grey;
// border-radius: 50%;
  padding: 10px;
}


@media (max-width: 576px) {
  .user_navbar_mobile{
    display: flex;
  }

  .user-info{
    display: none;
  }
}


