.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.user_navabar {
  display: flex;
  color: black;
  // position: fixed;
  // bottom: 7%;
}

.user-info {
  margin-left: 4%;

  #info-user{
    padding: 0px;
    font-size: 10px;
  }


  li a {
    padding: 0px;
  }

  #user-information{
    padding: 0px;
  }
}
