
// -> to have scroll horizontal on small device
.tabbable .nav-tabs {
   overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
}

nav {
    // margin: 30px;
  margin-bottom: 16px;

  .nav-tabs {

    // justify-content: center;
    border: none;
    // margin: 20px 0;

    .nav-item {
      color: grey;
      font-weight: bold;
      border: none;
      background: transparent;
      // text-transform: capitalize;
    }
    .nav-link.active {
      border-bottom: 4px solid $purple;
      background: transparent;
      color: black;
    }

  div .backblue{
    background: linear-gradient(#6382c4, #314570);
    letter-spacing: 2px;

    }
  }
}
